<div class="message file" id="{{msg.id}}">
  <div class="msg-header">
    <i class="member-profile icon-chat"></i>
  </div>
  <!-- FILE -->
  <div class="msg-file {{css.unshared}} {{css.archived}}">
    {{#if isArchived}}
      <!--  ARCHIVED FILE PREVIEW IMAGE  -->
      <div class="card-content cursor_pointer _compile">
        <!--  ARCHIVED FILE -->
        <div class="card-info card-archived _fileDetail">
          <div class="card-image icon">
            <div class="fileicon fileicon-archived"></div>
          </div>
          <span class="info-title">{{translate '@common-deleted-file-title'}}</span>
        </div>
      </div>
    {{else}}
      {{#if file.hasPermission}}
        {{#if file.mustPreview}}
          <!--  FILE PREVIEW IMAGE  -->
          <div class="card-content open has-preview">
            <!-- MEDIUM SIZE IMAGE THUMBNAIL -->
            <div class="card-preview _compile _previewExpand">
              {{#if file.hasPreview}}
                <div class="preview-image"
                     image-view="{{file.imageUrl}}"
                     image-width="{{file.width}}"
                     image-height="{{file.height}}"
                     image-max-width="448"
                     image-max-height="320"
                     image-orientation="{{file.orientation}}"
                     has-loading-bar="true">
                  <div class="preview-handler _previewToggle">
                    <i class="filecard-arrow icon-arrow-down-fill"></i>
                  </div>
                </div>
              {{else}}
                <div class="preview-image"
                     image-view
                     image-width="{{file.width}}"
                     image-height="{{file.height}}"
                     image-max-width="448"
                     image-max-height="320"
                     image-orientation="{{file.orientation}}"
                     has-loading-bar="true">
                </div>
              {{/if}}
            </div>
            <div class="card-body cursor_pointer _compile">
              <!--    FILE TYPE THUMBNAIL -->
              <div class="card-info">
                {{#if file.isIconPreview}}
                  <div class="card-image expand icon _previewExpand">
                    <div class="fileicon fileicon-{{ file.icon }}"></div>
                  </div>
                {{else if file.hasPreview}}
                  <div class="card-image expand _previewExpand">
                    <img src="{{file.smallImageUrl}}">
                  </div>
                {{else}}
                  <div class="card-image icon">
                    <div class="fileicon fileicon-{{ file.icon }}"></div>
                  </div>
                {{/if}}
                <div class="info-group _fileDetail">
                  <div class="info-group-up">
                    <span class="info-writer inline-overflow-ellipsis selectable">{{ file.writerName }}</span>
                    <span class="info-created-time">{{ file.time }}</span>
                    <span class="info-comment-count">
                      <i class="icon-comment"></i>
                      <span class="comment-count-{{file.id}}">{{file.commentCount}}</span>
                    </span>
                  </div>
                  <div class="info-group-bottom">
                    <span class="info-title break-word selectable">{{ file.title }}</span>
                    {{#unless file.isUnshared}}
                      {{#unless file.isIntegrateFile}}
                        {{#if file.size}}
                          <!--    SIZE AND FILE TYPE  -->
                          <span class="info-size">{{ file.size }}</span>
                        {{/if}}
                      {{/unless}}
                      <span class="info-type">{{ file.type }}</span>
                    {{else}}
                      <span class="unshared-label">{{translate '@filecard-unshared-file'}}</span>
                    {{/unless}}
                  </div>
                </div>
              </div>
              <div class="msg-file-actions">
                {{#unless file.isIntegrateFile}}
                  <div class="action-group">
                    <div class="action-item"
                         jnd-tooltip-trigger="{{translate '@common-download'}}"
                         data-direction="top">
                      <!--  DOWNLOAD  -->
                    <a class="msg-item-icon file-download _fileDownload" {{{attrs.download}}}>
                      <i class="icon-download"></i>
                    </a>
                    </div>
                  </div>
                {{/unless}}
                <div class="action-group">
                  <div class="action-item"
                       jnd-tooltip-trigger="{{translate '@file-action-more'}}"
                       data-direction="top">
                    <!--  MORE  -->
                    <span class="msg-item-icon msg-item-circle msg-item-more">
                      <i class="action-file-more icon-more _fileMore"></i>
                    </span>
                  </div>
                  <!-- Star -->
                  <div class="action-item">
                    <span class="msg-item-icon msg-item-star msg-item-circle _fileStar _feedbackStar _star-{{file.id}} {{css.fileStar}}">
                      <i class="{{css.fileStarIcon}}"></i>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          <!--  FILE PREVIEW IMAGE  -->
          <div class="card-content cursor_pointer _compile">
            <!--    FILE TYPE THUMBNAIL -->
            <div class="card-info _fileDetail">
              <div class="card-image icon">
                <div class="fileicon fileicon-{{ file.icon }}"></div>
              </div>
              <div class="info-group">
                <div class="info-group-up">
                  <span class="info-writer inline-overflow-ellipsis">{{ file.writerName }}</span>
                  <span class="info-created-time">{{ file.time }}</span>
                  <span class="info-comment-count">
                    <i class="icon-comment"></i>
                    <span class="comment-count-{{file.id}}">{{file.commentCount}}</span>
                  </span>
                </div>
                <div class="info-group-bottom">
                  <span class="info-title break-word">{{ file.title }}</span>
                  <span class="info-extra">
                    {{#unless file.isUnshared}}
                      {{#unless file.isIntegrateFile}}
                        {{#if file.size}}
                          <!--    SIZE AND FILE TYPE  -->
                        <span class="info-size">{{ file.size }}</span>
                        {{/if}}
                      {{/unless}}
                      <span class="info-type">{{ file.type }}</span>
                    {{else}}
                      <span class="unshared-label">{{translate '@filecard-unshared-file'}}</span>
                    {{/unless}}
                  </span>
                </div>
              </div>
            </div>
            <div class="msg-file-actions">
              {{#unless file.isIntegrateFile}}
                <div class="action-group">
                  <div class="action-item"
                       jnd-tooltip-trigger="{{translate '@common-download'}}"
                       data-direction="top">
                    <!--  DOWNLOAD  -->
                  <a class="msg-item-icon file-download _fileDownload" {{{attrs.download}}}>
                    <i class="icon-download"></i>
                  </a>
                  </div>
                </div>
              {{/unless}}
              <div class="action-group">
                <div class="action-item"
                     jnd-tooltip-trigger="{{translate '@file-action-more'}}"
                     data-direction="top">
                  <!--  MORE  -->
                  <span class="msg-item-icon msg-item-circle msg-item-more">
                    <i class="action-file-more icon-more _fileMore"></i>
                  </span>
                </div>
                <!-- Star -->
                <div class="action-item">
                  <span class="msg-item-icon msg-item-star msg-item-circle _fileStar _feedbackStar _star-{{file.id}} {{css.fileStar}}">
                    <i class="{{css.fileStarIcon}}"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      {{else}}
        <!--  UNSHARED FILE  -->
        <div class="card-content cursor_pointer _compile">
          <!--    FILE TYPE THUMBNAIL -->
          <div class="card-info card-unshared _fileDetail">
            <div class="card-image icon">
              <div class="fileicon fileicon-unshared"></div>
            </div>
            <span class="info-title break-word">{{ file.title }}</span>
            <span class="info-extra">
              <span class="unshared-label">{{translate '@filecard-unshared-file'}}</span>
            </span>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="message comment first {{css.last}}" id="{{msg.id}}">
  {{#if hasCommentAllDesc}}
    <div class="msg-item comment-all cursor_pointer _fileDetail">
      <div class="comment-line"></div>
      <i class="icon-more"></i>
      <span class="comment-all-desc">{{{translate.commentAllDesc}}}</span>
    </div>
  {{/if}}
  <div class="msg-item _fileDetail">
    <div class="comment-line"></div>
    {{#unless isChild}}
      <div class="msg-header">
        <!--  User Thumbnail -->
        <img class="member-profile member-thumb cursor_pointer _user" src="{{ msg.exProfileImg }}"/>
        <span class="member-name inline-overflow-ellipsis cursor_pointer selectable _user {{css.disabledMember}}">{{ msg.extWriterName }}</span>
      </div>
    {{/unless}}
    <div class="comment-content">
      {{#if isSticker}}
        <div class="sticker size_5" style="background-image:url('{{msg.message.content.url}}');"></div>
      {{else}}
        <span class="keep selectable _commentText _compile" jnd-ignore-braces>{{{ msg.message.content.body }}}</span>
      {{/if}}
      <div class="msg-extra _commentActions">
        <div class="msg-item-info no-select">
          <span class="msg-badge unread-badge" data-unread-count="{{ msg.unreadCount }}"></span>
          {{#unless hasChild}}
            <span class="msg-time" data-write-time="{{ msg.extTime }}"></span>
          {{/unless}}
        </div>
        <div class="msg-comment-actions">
          {{#if isAllowDelete}}
            <span class="cursor_pointer msg-item-icon msg-item-circle msg-item-delete _commentDelete">
              <i class="icon-trash"></i>
            </span>
          {{/if}}
          {{#if hasStar}}
            <span class="cursor_pointer msg-item-icon msg-item-circle msg-item-star _star _star-{{msg.message.id}} {{css.star}}">
              <i class="{{css.starIcon}}"></i>
            </span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
