<span class="noti-content">
  {{#if status.isInvite}}
    <span>{{msg.message.content.actionOwner}}</span>
    <span>{{translate '@msg-invited'}}</span>
    <span class="keep">{{{msg.message.content.body}}}</span>
    {{#each invitees}}
      <span>
        <span>{{name}}{{#unless isLast}}<span style="padding-right: 4px;">, </span>{{/unless}}</span>
      </span>
    {{/each}}
    {{#if hasPostfix}}
      <span>{{translate '@msg-invited-postfix'}}</span>
    {{/if}}
  {{else if status.isAnnouncementDeleted}}
    <span>{{ text.announcement.deleted }}</span>
  {{else if status.isAnnouncementCreated}}
    <span>{{ text.announcement.created }}</span>
  {{else}}
    <span>{{msg.message.content.actionOwner}}</span>
    <span class="keep">{{{msg.message.content.body}}}</span>
  {{/if}}
</span>
<span class="msg-time">{{msg.extTime}}</span>