<!--  User Thumbnail -->
<div class="msg-header {{css.disabledMember}}">
  <img class="member-profile member-thumb {{css.profileCursor}} _user" src="{{ msg.exProfileImg }}"/>
  <span class="member-name selectable {{css.profileCursor}} _user">{{ msg.extWriterName }}</span>
</div>
{{#if isSticker}}
  <div class="msg-item">
    <div class="sticker size_5" style="background-image:url('{{msg.message.content.url}}');"></div>
  </div>
{{else}}
  <div class="msg-item text">
    <span class="keep msg-text-body selectable _compile" jnd-ignore-braces>{{{ msg.message.content.body }}}</span>
  </div>
{{/if}}
<div class="msg-text-extra">
  <div class="msg-buttons">
    <!--More -->
    {{#if hasMore}}
      <span class="msg-item-icon msg-item-more msg-item-circle">
        <i class="icon-more _textMore"></i>
      </span>
    {{/if}}
    <!--Star -->
    {{#if hasStar}}
      <span class="msg-item-icon msg-item-star msg-item-circle _star _star-{{msg.message.id}} {{css.star}}">
        <i class="{{css.starIcon}}"></i>
      </span>
    {{/if}}
  </div>
  <div class="msg-item-info no-select">
    <span class="msg-badge unread-badge" data-unread-count="{{ msg.unreadCount }}"></span>
    {{#unless hasChild}}
      <span class="msg-time" data-write-time="{{ msg.extTime }}"></span>
    {{/unless}}
  </div>
</div>
{{{ html.connectPreview }}}
{{{ html.linkPreview }}}