<div id="{{id}}" class="msgs-group text {{ css.child }}">
  <!--  User Thumbnail -->
  {{#if hasProfile}}
    <!--  User Thumbnail -->
    <div class="msg-header {{css.disabledMember}}">
      <img class="member-profile member-thumb {{css.profileCursor}} _user" src="{{ msg.exProfileImg }}"/>
      <span class="member-name {{css.profileCursor}} _user">{{ msg.extWriterName }}</span>
    </div>
  {{/if}}
  {{#if isSticker}}
    <div class="msg-itemsticker">
      <img class="sticker size_5" src="{{msg.message.content.url}}"/>
    </div>
  {{else}}
    <div class="msg-item text">
      <span class="keep msg-text-body msg-text-sending">{{{ msg.message.content.body }}}</span>
    </div>
  {{/if}}
  <div class="msg-text-extra">
    <div class="msg-buttons">
      <!--More -->
      <span class="msg-item-icon msg-item-more msg-item-circle">
        <i class="icon-more _textMore"></i>
      </span>
    </div>
    <div class="msg-item-info sending no-select">
      <!--  SENDING STATUS SPINNING WHEEL -->
      {{#if isFailed}}
        <span class="msg-item-header__retry cursor_pointer _retry"><i class="icon-refresh"></i> Retry</span>
      {{/if}}
      <span class="msg-item-header__created">{{ msg.extTime }}</span>
    </div>
  </div>
</div>
