<div class="link-preview-content _link-preview cursor_pointer {{css.image}}" data-href="{{html.linkUrl}}" data-target="_blank">
  {{#if msg.message.linkPreview.extThumbnail.isWaiting}}
    <div class="social-image loading">
      <div class="loading_bar">
        <span class="three-quarters-loader jnd-three-quarters-loader"></span>
      </div>
    </div>
  {{/if}}

  {{#if msg.message.linkPreview.extThumbnail.hasSuccess}}
    <div class="social-image"><img src="{{html.imageUrl}}"/></div>
  {{/if}}

  <div class="social-body {{css.image}}">
    {{#if msg.message.linkPreview.title}}
      <div class="social-title neighbor">{{html.title}}</div>
    {{/if}}

    {{#if msg.message.linkPreview.description}}
      <div class="social-desc neighbor {{css.domain}}">{{html.description}}</div>
    {{/if}}

    {{#if msg.message.linkPreview.domain}}
      <div class="social-domain">{{html.domain}}</div>
    {{/if}}
  </div>
</div>
