<div class="msg-item _fileDetail">
  {{#unless isChild}}
    <div class="msg-header">
      <!--  User Thumbnail -->
      <img class="member-profile member-thumb cursor_pointer _user" src="{{ msg.exProfileImg }}"/>
      <span class="member-name inline-overflow-ellipsis cursor_pointer selectable _user {{css.disabledMember}}">{{ msg.extWriterName }}</span>
    </div>
  {{/unless}}
  <div class="comment-content">
    {{#if isSticker}}
      <div class="sticker size_5" style="background-image:url('{{msg.message.content.url}}');"></div>
    {{else}}
      <span class="keep selectable _commentText _compile" jnd-ignore-braces>{{{ msg.message.content.body }}}</span>
    {{/if}}
    <div class="msg-extra _commentActions">
      <div class="msg-item-info no-select">
        <span class="msg-badge unread-badge" data-unread-count="{{ msg.unreadCount }}"></span>
        {{#unless hasChild}}
          <span class="msg-time" data-write-time="{{ msg.extTime }}"></span>
        {{/unless}}
      </div>
      <div class="msg-comment-actions">
        {{#if isAllowDelete}}
          <span class="cursor_pointer msg-item-icon msg-item-circle msg-item-delete _commentDelete">
            <i class="icon-trash"></i>
          </span>
        {{/if}}
        {{#if hasStar}}
          <span class="cursor_pointer msg-item-icon msg-item-circle msg-item-star _star _star-{{msg.message.id}} {{css.star}}">
            <i class="{{css.starIcon}}"></i>
          </span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
